body {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    padding: 5px;
    margin: 10px 0px;
}

.mainPage {
    background-image: linear-gradient(to right, #ffe189, #7086ff, #e5c1c1, #8bd7fa);
}

#choice {
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    gap: 20px;
    margin-top: 50px;
}

.topHalf, #computer, #user {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px 50px;
}

#computer, #user {
    flex-direction: column;
    align-items: center;
    min-width: 290px;
}

.computerScore, .userScore {
    padding: 20px;
    border: solid #6a6464;
    margin: 0px 50px;
    font-size: 50px;
    background-color: #6a6464;
    font-weight: bold;
    color: white;
    height: 104px;
    width: 71px;
    box-sizing: border-box;
}

#paperRock,#rockScissors,#scissorsPaper,#winner {
    display: none;
}

#images > img{
    height: 300px;
    width: 500px;
    border: groove #b8b8b6;
}

#result p{
    font-size: 40px;
    margin: 0px;
}

#finalWinner{
    font-size: 43px;
    color: blue;
    margin: 0px;
}

.gameInfo {
    font-size: 25px;
}

#result, #finalWinner {
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 0px;
    border: outset 4px rgb(185 185 188);
    cursor: pointer;
    height: 208px;
    margin-bottom: 40px;
}

button:hover {
    border: black solid 2px;
    height: 208px;
    width: 158px;
    background-color: rgb(155 152 163);
}

label {
    font-size: 50px;
    border: dashed;
    padding: 10px;
    margin-top: 40px;
}

#images {
    margin-top: 150px;
    height: 300px;
    width: 500px;
}

.topHalf {
    height: 450px;
}

p.score , p.displayChoice{
    margin-bottom: 0px;
    font-size: 40px;
}

.userSelectedOption, .computerSelectedOption {
    font-size: 30px;
    background-color: #6a6464;
    font-weight: bold;
    color: white;
    padding: 10px;
    box-sizing: content-box;
    min-height: 34px;
    width: 101px;
    text-align: center;
}

h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    border-bottom: dashed;
}

/* styles for popup */
#popup {
    color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#popupContent {
    text-align: center;
    background-color: black;
    margin: 10% auto;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
    font-size: 25px;
}

#closePopup {
    float : right;
    font-weight: bolder;
    padding: 2px;
    cursor: pointer;
}